* {
    margin: 0;
    padding: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.store {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.hover {
    background: #f8f9fe;
    cursor: pointer;
}

.sum {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.listName {
    float: left;
    font-weight: 500;
    padding-top: 6px;
    z-index: 0;
}

.listDate {
    float: right;
    padding-top: 6px;
}

.listGroup {
    float: left;
    background: rgba(228, 230, 240, 0.8);
    padding: 4px 8px;
    border-radius: 12px;
    margin: 0 8px 2px 0;
    line-height: 14px;
}

.listIcon {
    float: right;
    line-height: 22px;
    color: #94a1b3;
    font-size: 16px;
}

.listIcon:hover {
    color: #1CA1C1;
}

.listBlock {
    height: 40px;
    overflow: hidden;
}

.listBlock2 {
    height: 28px;
    overflow: hidden;
}

.listImg {
    border-radius: 50px;
    float: left;
    width: 48px;
    height: 48px;
    margin: 9px 15px 10px 5px;
}

.dataImg {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: 3px;
}

.dataIcon {
    line-height: 42px;
    font-size: 20px;
    padding-left: 8px;
}

.listPos {
    float: left;
    line-height: 10px;
    color: #475466;
    padding-top:10px;
}

.listGroupIcon {
    float: left;
    padding-right: 5px;
}

.icon {
    height: 30px;
    padding: 9px;
}

.listEmployees .webix_scroll_cont .webix_list_item {
    height: 70px !important;
}

.upload {
    cursor: pointer;
}

.employeeImg {
    height: 167px;
    width: 167px;
    border-radius: 50%;
}

.uploadDiv {
    position: relative;
    border: 4px dashed #1992af;
    border-radius: 10px;
    height: 167px;
    width: 167px;
}

.uploadBtn {
    font-weight: 500 !important;
    background:white;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}

.uploadImg {
    height: 80px;
    width: 80px;
    color:#1992af;
}

.uploadBtn:hover {
    //background: #f4f5f9;
    cursor: pointer;
    transform: scale(1.2);
}

.basket .webix_template{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed red !important;
    border-radius: 10px;
    flex-direction: column;
    transition-duration: 0.2s;
}

.basket .webix_template:hover {
    transform: scale(1.2);
}

.basket .removeImg {
    height: 80px;
    width: 80px;
}

.basket .removeDiv {
    padding-top: 10px;
    font-weight: 500;
    color: red;
}

.headUser {
    display: flex;
    float: right;
    flex-direction: row-reverse;
    border-radius: 20px;
    margin: 4px;
    overflow: hidden;
    height: 38px;
    font-weight: 500;
    transition-duration: 0.2s;
    cursor: pointer;
}

.headUser:hover {
    background: #EBEDF0;
}

.headSpan {
    line-height: 38px;
    padding-left: 12px;
}

.headImg {
    border-radius: 50px;
    width: 38px;
    height: 38px;
    margin-left: 9px;
}

.loginTitle {
    position: relative;
    top: -16px;
    display: inline-block;
}

.loginIcon {
    height: 30px;
    padding: 7px;
}

.forgotPass {
    font-weight: 400 !important;
}