<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - auth</title>
    <link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="/public/MaterialDesign/css/materialdesignicons.css" type="text/css">

    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript"></script>
</head>
<body>
<script type="module">

    import {EmployeeModel} from "/public/js/employee/model/EmployeeModel.js";

    webix.i18n.setLocale('ru-RU');
    import {signUp} from "/public/js/logIn/signUpForm.js";
    import {signIn} from "/public/js/logIn/signInForm.js";

    function encodeForm(form) {
        let encoded = window.btoa(form.user + ":" + form.pass);
        EmployeeModel.login(encoded).then(function (result) {
            console.log(result);
        })
    }

    window.onload = function () {
        webix.ready(function () {

            webix.ui({
                view: 'window',
                id: 'loginWindow',
                modal: true,
                head: "<img src='./public/img/list.svg' class='loginIcon' alt='logo'><div class='loginTitle'>Project Manager</div>",
                width: 350,
                position: 'center',
                body: {
                    view: "tabview",
                    animate: true,
                    cells: [
                        signIn,
                        signUp
                    ]
                },
                hidden: false
            });

            // Нажатие кнопки Войти
            $$('enter').attachEvent("onItemClick", function () {
                if ($$('signInForm').validate()) {
                    let form = $$('signInForm').getValues();
                    encodeForm(form);
                }
                else webix.message({type:"error", text:"Заполните все поля"})
            })

            // Нажатие кнопки Регистрация
            $$('enterReg').attachEvent("onItemClick", function () {
                if ($$('signUpForm').validate()) {
                    let form = $$('signUpForm').getValues();
                    // Если повторный пароль верен
                    if (form.pass === form.pass2) {

                    }
                    else webix.message({type:"error", text:"Пароли не совпадают"})
                }
                else webix.message({type:"error", text:"Заполните все поля"})
            })
        })
    };

</script>
</body>
</html>