<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - employees</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.css" type="text/css" charset="utf-8">
    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script type="module">

        import {groups_data} from '/public/js/data.js';

        webix.i18n.setLocale('ru-RU');

        ///////////////////////////////////////////////// Виджеты //////////////////////////////////////////////////////

        import {toolbar} from "/public/js/toolbar.js";						    // шапка
        import {sidebar} from "/public/js/sidebar.js";						    // боковая панель

        import {groups} from "/public/js/group/groups.js";				        // островок Группы
        import {groupTable} from "/public/js/group/groupTable.js";		        // островок сотрудники Группы
        import {employees} from "/public/js/employee/employees.js";			    // островок Сотрудники

        var employees_originalValues = {name:"", date:new Date(), group:"Designers"};

        import {groupWindow} from "/public/js/group/groupWindow.js";		    // окно группы
        webix.ui(groupWindow);

        import {employeeWindow} from "/public/js/employee/employeeWindow.js";	// окно сотрудника
        webix.ui(employeeWindow);

        import {sortPopup} from "/public/js/sortPopup.js";					    // попап сортировки [по порядку / по имени / по дате]
        webix.ui(sortPopup);

        ////////////////////////////////////////////////// Функции /////////////////////////////////////////////////////

        function sortProject(value) {
            $$("listGroup").sort("#" + value + "#");
        };

        function showWindow(id) {
            $$(id + "_Form").setValues(eval(id + "_originalValues"));
            $$(id + "_window").show();
        }

        function deleteEmployees() {

        };

        function addEmployees() {

        };

        function deleteGroup() {

        };

        function addGroup() {

        };

        ///////////////////////////////////////////////// Отрисовка ////////////////////////////////////////////////////

        window.onload = function() {
            webix.ready(function(){

                if (!webix.env.touch && webix.env.scrollSize)
                    webix.CustomScroll.init();

                // Разметка
                webix.ui({
                    rows: [

                        toolbar,

                        {
                            cols: [

                                sidebar,

                                {
                                    type:"space",
                                    cols: [
                                        {
                                            gravity:0.3,
                                            type:"wide",
                                            rows: [

                                                groups
                                            ]
                                        },

                                        {
                                            type:"wide",
                                            cols:[
                                                groupTable,
                                                employees
                                            ]
                                        },
                                    ]
                                }
                            ]
                        }
                    ]
                });

                // подсветка вкладки
                $$("sidebar").select("groups", true);

                //////////////////////////////////////////// Обработчики ///////////////////////////////////////////////

                // Переход по вкладкам
                $$("sidebar").attachEvent("onItemClick", function(id){
                    location.href = id;
                });

                // Открыть/закрыть sidebar
                $$("toggleIcon").attachEvent("onItemClick", function(){
                    $$("sidebar").toggle();
                });

                // Добавить группу
                $$("addGroupBtn").attachEvent("onItemClick", function(){
                    $$("titleG").setValue("Добавить группу");
                    $$("dltGroupFormBtn").hide();
                    //$$("groups_Form").setValues(originalValues);
                    $$("groups_window").show();
                });

                // Нанять сотрудника
                $$("addEmployeeBtn").attachEvent("onItemClick", function(){
                    $$("titleE").setValue("Нанять сотрудника");
                    $$("dltEmployeeFormBtn").hide();
                    $$("employees_Form").setValues(employees_originalValues);
                    $$("employees_window").show();
                });

                // Открыть поиск сотрудников
                $$("openSearchBtn").attachEvent("onItemClick", function(){
                    $$("search").show();
                    $$("closeSearchBtn").show();
                    $$("openSearchBtn").hide();
                });

                // Закрыть поиск сотрудников
                $$("closeSearchBtn").attachEvent("onItemClick", function(){
                    $$("search").hide();
                    $$("openSearchBtn").show();
                    $$("closeSearchBtn").hide();
                });

                // Показать попап группы
                $$("listProject").on_click.listIcon = function(node) {
                    $$("project_Popup").show(node);
                };

                // Поиск сотрудников
                $$("search").attachEvent("onTimedKeyPress",function(){
                    var value = this.getValue().toLowerCase();

                    $$("listEmployees").filter(function(obj){
                        //return obj.value.toLowerCase().indexOf(value)==0; Начинается с букв
                        return obj.value.toLowerCase().indexOf(value)!=-1; // Имеются буквы
                    })
                });
            });
        }
    </script>
</body>
</html>