<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - employees</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="/public/MaterialDesign/css/materialdesignicons.css" type="text/css"
          charset="utf-8">
    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script type="module">

    webix.i18n.setLocale('ru-RU');

    import {GroupModel} from "/public/js/group/model/GroupModel.js";            // db requests для Групп
    import {EmployeeModel} from "/public/js/employee/model/EmployeeModel.js";   // db requests для Сотрудников
    import {RefModel} from "/public/js/ref/model/RefModel.js";                  // db requests для Сотрудников

    ///////////////////////////////////////////////// Виджеты //////////////////////////////////////////////////////

    import {toolbar} from "/public/js/toolbar.js";						    // шапка
    import {sidebar} from "/public/js/sidebar.js";						    // боковая панель

    import {groups} from "/public/js/group/groups.js";				        // островок Группы
    import {groupTable} from "/public/js/group/groupTable.js";		        // островок сотрудники Группы
    import {employees} from "/public/js/employee/employees.js";			    // островок Сотрудники

    import {employeeForm} from "/public/js/employee/employeeForm.js";

    import {groupWindow} from "/public/js/group/groupWindow.js";		    // окно группы
    webix.ui(groupWindow);

    import {employeeWindow} from "/public/js/employee/employeeWindow.js";	// окно сотрудника
    webix.ui(employeeWindow);

    import {editPopup} from "/public/js/editPopup.js";	                    // попап списка [редактировать / удалить]
    webix.ui(editPopup);

    import {sortPopup} from "/public/js/sortPopup.js";					    // попап сортировки [по порядку / по имени / по дате]
    webix.ui(sortPopup);

    import {uploadApi} from "/public/js/uploadApi.js";                 // загрузка фото
    webix.ui(uploadApi);

    import {groups_originalValues} from "/public/js/origValuesForm.js";	    // оригинальные значения формы группы
    import {employees_originalValues} from "/public/js/origValuesForm.js";	    // оригинальные значения формы сотрудника
    import {uploadForm} from "/public/js/employee/employeeForm.js";

    ////////////////////////////////////////////////// Функции /////////////////////////////////////////////////////

    function sortGroup(value) {
        $$("listGroup").sort("#" + value + "#");
    }

    //************************************************** Группы ***************************************************//

    function addGroupForm() {
        // получаем актуальных сотрудников
        getEmployeeSelect();
        // Изменяем форму
        $$("titleG").setValue("Добавить группу");
        $$("dltGroupFormBtn").disable();
        $$("saveGroupFormBtn").hide();
        $$("createGroupFormBtn").show();
        // заносим стандартные значения в форму
        $$("groups_Form").setValues(groups_originalValues);
        $$("groups_window").show();
    }

    function editGroupForm() {
        // получаем актуальных сотрудников
        getEmployeeSelect();
        // Изменяем форму
        $$("titleG").setValue("Изменить группу");
        $$("createGroupFormBtn").hide();
        $$("dltGroupFormBtn").enable();
        $$("saveGroupFormBtn").show();
        $$("edit_Popup").hide();
        // заносим данные группы в форму
        let id = $$("listGroup").getSelectedId();
        fillGroupForm(id);
        // открываем окно группы
        $$("groups_window").show();
    }

    function getAllGroups() {
        // запрос на получение всех групп
        GroupModel.getAll().then(function (result) {
            $$("listGroup").parse(result, 'json');
        });
    }

    function createGroup() {
        // Валидация заполнения
        if ($$("groups_Form").validate()) {
            // берем значения формы
            let group_form = $$("groups_Form").getValues();
            let group = {
                Name: group_form.name,
                Lead: group_form.lead,
            };
            // далем запрос в бд
            GroupModel.create(group).then(function (result) {
                getLastGroup(result[0].id);
            });
            // закрываем окно
            $$("groups_window").hide();
        }
        else
            webix.message({type: "error", text: "Дайте название проектной группе"});
    }

    function delGroup() {
        // закрываем окна
        $$("edit_Popup").hide();
        $$("groups_window").hide();
        // подтверждение удаления
        webix.confirm({
            ok: "ОК", cancel: "Отмена",
            text: "Вы собираетесь удалить группу, вы уверены?"
        })
            .then(function () {
                // Берем id группы
                let id = $$("listGroup").getSelectedId();
                // далем запрос в бд
                GroupModel.delete(id).then(function(result) {
                    $$("listGroup").remove(result);
                });
            })
    }

    function updateGroup() {
        // Валидация заполнения
        if ($$("groups_Form").validate()) {
            // берем значения формы
            let id = $$("listGroup").getSelectedId();
            let group_form = $$("groups_Form").getValues();
            let group = {
                Id: id,
                Name: group_form.name,
                Lead: group_form.lead
            };
            // далем запрос в бд
            GroupModel.update(group).then(function(result) {
                refreshGroup(result[0].id);
            });
            // закрываем окно
            $$("groups_window").hide();
        }
        else
            webix.message({type: "error", text: "Дайте название проектной группе"});
    }

    function getLastGroup(id) {
        // делаем запрос в бд
        GroupModel.get(id).then(function (result) {
            // Добавляем проект в конец списка
            $$("listGroup").add({
                id: result[0]['id'],
                name: result[0]['name'],
                date: new Date(result[0]['date']),
                lead: result[0]['lead']
            });
        });
    }

    function refreshGroup(id) {
        // делаем запрос в бд
        GroupModel.get(id).then(function (result) {
            // обновляем данные о проекте
            let item = $$("listGroup").getItem(result[0]['id']);
            item.name = result[0]['name'];
            item.lead = result[0]['lead'];
            $$("listGroup").refresh();
        });
    }

    function fillGroupForm(id) {
        // запрос на получение имени и лидера
        GroupModel.getFk(id).then(function (result) {
            // Создаем массив для формы
            let values = {};
            values["name"] = result[0]["name"];
            values["lead"] = result[0]["lead"];
            // Заполняем форму проекта
            $$("groups_Form").setValues(values);
        });
        // // запрос на получение сотрудников данной группы
        // EmployeeModel.getByGroupFk(id).then(function (result) {
        //     // проверяем на ноль
        //     if (result != null) {
        //         let tags = "";
        //         // записываем сотрудников
        //         for (let i = 0; i < result.length; i++) {
        //             if (i != result.length - 1) tags += result[i]["id"] + ",";
        //             else tags += result[i]["id"];
        //         }
        //         // заполняем комбо
        //         $$('employeeCombo').setValue(tags);
        //     }
        // });
    }

    function getGroupEmployees() {
        let id = $$('listGroup').getSelectedId();
        $$('groupsTable').clearAll();
        EmployeeModel.getByGroup(id).then(function (result) {
            $$('groupsTable').parse(result);
        });
    }

    //************************************************ Сотрудники *************************************************//

    function addEmployeeForm() {
        // получаем актуальные группы и должности
        getGroupSelect();
        getPosSelect();
        // Изменяем форму
        $$("uploadForm").setHTML(uploadForm);
        $$("titleE").setValue("Добавить сотрудника");
        $$("dltEmployeeFormBtn").disable();
        $$("saveEmployeeFormBtn").hide();
        $$("createEmployeeFormBtn").show();
        // заносим стандартные значения в форму
        $$("employees_Form").setValues(employees_originalValues);
        $$("employees_window").show();
    }

    function editEmployeeForm() {
        // получаем актуальные группы и должности
        getGroupSelect();
        getPosSelect();
        // Изменяем форму
        $$("titleE").setValue("Изменить данные сотрудника");
        $$("dltEmployeeFormBtn").enable();
        $$("saveEmployeeFormBtn").show();
        $$("createEmployeeFormBtn").hide();
        $$("edit_Popup").hide();
        // заносим данные сотрудника в форму
        let id = $$("listEmployees").getSelectedId();
        fillEmployeeForm(id);
        // открываем окно сотрудника
        $$("employees_window").show();
    }

    function getAllEmployees() {
        // далем запрос в бд
        EmployeeModel.getAll().then(function (result) {
            $$("listEmployees").parse(result, 'json');
        });
    }

    function createEmployee() {
        // Валидация заполнения
        if ($$("employees_Form").validate()) {
            // берем значения формы
            let em_form = $$("employees_Form").getValues();
            // imgSrc выставляется 0, т.к. не реализован uploadApi
            let employee = {
                lastName:   em_form.lastName,
                firstName:  em_form.firstName,
                patronymic: em_form.patronymic,
                date:       webix.i18n.dateFormatStr(em_form.date),
                email:      em_form.email,
                imgSrc:     '0.png',
                user:       '1',
                position:   em_form.position,
                group:      em_form.group
            };
            // далем запрос в бд
            EmployeeModel.create(employee).then(function (result) {
                getLastEmployee(result[0].id);
            });
            // закрываем окно
            $$("employees_window").hide();
        }
        else
            webix.message({type: "error", text: "Заполните все данные сотрудника"});
    }

    function deleteEmployee(id) {
        // закрываем окна
        $$("edit_Popup").hide();
        $$("employees_window").hide();
        // подтверждение удаления
        webix.confirm({
            ok: "ОК", cancel: "Отмена",
            text: "Вы собираетесь удалить сотрудника, вы уверены?"
        })
            .then(function () {
                // далем запрос в бд
                EmployeeModel.delete(id).then(function(result) {
                    let item = $$('listEmployees').getItem(result);
                    webix.message({type:"debug", text:"<i>" + item.lastName + " " + item.firstName + "</i> был удалён"});
                    $$("listEmployees").remove(result);
                    $$("groupsTable").remove(result);
                });
            })
    }

    function deleteFromGroup(id) {
        let g_id = $$('listGroup').getSelectedId();
        if (g_id != 1) {
            EmployeeModel.deleteFromGroup(id).then(function (id) {
                console.log(id);
                let item = $$('groupsTable').getItem(id);
                webix.message({type: "debug", text: "<i>" + item.lastName + " " + item.firstName + " </i>теперь без группы"});
                $$("groupsTable").remove(id);
            });
        } else webix.message({type: "error", text: "Сотрудник уже без группы"});
    }

    function updateEmployee() {
        // Валидация заполнения
        if ($$("employees_Form").validate()) {
            // берем значения формы
            let id = $$("listEmployees").getSelectedId();
            let em_form = $$("employees_Form").getValues();
            let employee = {
                Id: id,
                lastName:   em_form.lastName,
                firstName:  em_form.firstName,
                patronymic: em_form.patronymic,
                date:       webix.i18n.dateFormatStr(em_form.date),
                email:      em_form.email,
                imgSrc:     '0.png',
                user:       '1',
                position:   em_form.position,
                group:      em_form.group
            };
            // далем запрос в бд
            EmployeeModel.update(employee).then(function(result) {
                refreshEmployee(result[0].id);
            });
            // закрываем окно
            $$("employees_window").hide();
        }
        else
            webix.message({type: "error", text: "Заполните все данные сотрудника"});
    }

    function getLastEmployee(id) {
        // делаем запрос в бд
        EmployeeModel.get(id).then(function (result) {
            result[0].date = new Date(result[0].date);
            // Добавляем сотрудника в конец списка
            $$("listEmployees").add(result[0]);
            // Добавляем сотрудника в таблицу группы
            let item = $$('listGroup').getSelectedItem();
            if (result[0].group = item.name) {
                $$('groupsTable').add(result[0]);
            }
        });
    }

    function refreshEmployee(id) {
        // делаем запрос в бд
        EmployeeModel.get(id).then(function (result) {
            // обновляем данные о проекте
            let item = $$("listEmployees").getItem(result[0]['id']);
            item.lastName = result[0].lastName;
            item.firstName = result[0].firstName;
            item.patronymic = result[0].patronymic;
            item.position = result[0].position;
            $$("listEmployees").updateItem(result[0]['id']);
        });
    }

    function fillEmployeeForm(id) {
        // запрос на получение данных сотрудника
        EmployeeModel.getFk(id).then(function (result) {
            // Заполняем форму проекта
            //let employeeImg = "<img src='/public/img/employees/#imgSrc#'>";
            $$("uploadForm").setHTML("<img class='upload employeeImg' src='/public/img/employees/" + result[0].imgSrc + "'>");
            result[0].date = new Date(result[0].date);
            $$("employees_Form").setValues(result[0]);
        });
    }

    //************************************************** Select ***************************************************//

    function getEmployeeSelect() {
        // далем запрос в бд
        EmployeeModel.getAll().then(function (result) {
            // создаем переменную для select
            let selectEmployee = [];
            // заполняем сотрудников
            for (let i = 0; i < result.length; i++) {
                selectEmployee[i] = {};
                selectEmployee[i].id = result[i].id;
                selectEmployee[i].value = result[i].lastName;
            }
            // заносим в select
            $$("employeeSelect").define("options", selectEmployee);
            $$("employeeSelect").refresh();
            // $$("employeeCombo").define("options", selectEmployee);
            // $$("employeeCombo").refresh();
        });
    }

    function getGroupSelect() {
        GroupModel.getAll().then(function (result) {
            // создаем переменную для select
            let selectGroup = [];
            // заполняем группы
            for (let i = 0; i < result.length; i++) {
                selectGroup[i] = {};
                selectGroup[i].id = result[i].id;
                selectGroup[i].value = result[i].name;
            }
            // заносим в select
            $$("groupSelect").define("options", selectGroup);
            $$("groupSelect").refresh();
        });
    }

    function getPosSelect() {
        RefModel.getPos().then(function (result) {
            // заносим в select
            $$("positionSelect").define("options", result);
            $$("positionSelect").refresh();
        });
    }

    ///////////////////////////////////////////////// Отрисовка ////////////////////////////////////////////////////

    window.onload = function () {
        webix.ready(function () {

            if (!webix.env.touch && webix.env.scrollSize)
                webix.CustomScroll.init();

            // Разметка
            webix.ui({
                rows: [
                    toolbar,
                    {
                        cols: [
                            sidebar,
                            {
                                type: "space",
                                cols: [
                                    {
                                        gravity: 0.3,
                                        type: "wide",
                                        rows: [
                                            groups
                                        ]
                                    },
                                    {
                                        type: "wide",
                                        cols: [
                                            {
                                                type: 'clean',
                                                rows: [
                                                    groupTable,
                                                    {
                                                        template: "<img src='/public/img/remove.svg' class='removeImg'><div class='removeDiv'>Удалить</div>",
                                                        id:"basket",
                                                        css:"basket",
                                                        gravity: 0.3,
                                                        drag:true
                                                    }
                                                ]},
                                            employees
                                        ]
                                    },
                                ]
                            }
                        ]
                    }
                ]
            });

            getAllGroups();         // Получаем все группы из бд
            getAllEmployees();      // Получаем всех сотрудников из бд

            // выводим сотрудников без группы
            $$('listGroup').select(1);
            getGroupEmployees(1);

            // подсветка вкладки
            $$("sidebar").select("employees", true);

            // скрываем корзину
            $$('basket').hide();

            //////////////////////////////////////////// Обработчики ///////////////////////////////////////////////

            // Переход по вкладкам
            $$("sidebar").attachEvent("onItemClick", function (id) {
                location.href = id;
            });

            // Открыть/закрыть sidebar
            $$("toggleIcon").attachEvent("onItemClick", function () {
                $$("sidebar").toggle();
            });

            // Добавить группу
            $$("addGroupBtn").attachEvent("onItemClick", function () {
                addGroupForm();
            });

            // Добавить сотрудника
            $$("addEmployeeBtn").attachEvent("onItemClick", function () {
                addEmployeeForm();
            });

            // Открыть поиск сотрудников
            $$("openSearchBtn").attachEvent("onItemClick", function () {
                $$("search").show();
                $$("closeSearchBtn").show();
                $$("openSearchBtn").hide();
            });

            // Закрыть поиск сотрудников
            $$("closeSearchBtn").attachEvent("onItemClick", function () {
                $$("search").hide();
                $$("search").setValue("");
                $$("listEmployees").filter(function (obj) {
                    return obj;
                });
                $$("openSearchBtn").show();
                $$("closeSearchBtn").hide();

            });

            // Показать попап группы
            $$("listGroup").on_click.listIcon = function (node) {
                $$("edit_Popup").show(node);
            };

            // Действия попапа группы
            $$("editPopup_List").attachEvent("onItemClick", function (id) {
                let value = this.getItem(id).value;
                switch (value) {
                    case "edit":
                        editGroupForm();
                        break;
                    case "delete":
                        delGroup();
                        break;
                }
            });

            // Действия попапа сортировки
            $$("sortPopup_List").attachEvent("onSelectChange", function () {
                let value = this.getSelectedItem().value;
                sortGroup(value);
            });

            // Окно заполнения группы
            $$("dltGroupFormBtn").attachEvent("onItemClick", function () {
                delGroup();
                $$('groups_Form').clearValidation();
            });
            $$("saveGroupFormBtn").attachEvent("onItemClick", function () {
                updateGroup()
            });
            $$("createGroupFormBtn").attachEvent("onItemClick", function () {
                createGroup();
            });
            $$("closeGroupFormBtn").attachEvent("onItemClick", function () {
                $$('groups_window').hide();
                $$('groups_Form').clearValidation();
            });

            // Окно заполнения сотрудника
            $$("dltEmployeeFormBtn").attachEvent("onItemClick", function () {
                // Берем id сотрудника
                let id = $$("listEmployees").getSelectedId();
                deleteEmployee(id);
            });
            $$("saveEmployeeFormBtn").attachEvent("onItemClick", function () {
                updateEmployee();
            });
            $$("createEmployeeFormBtn").attachEvent("onItemClick", function () {
                createEmployee();
            });
            $$("closeEmployeeFormBtn").attachEvent("onItemClick", function () {
                $$('employees_window').hide();
            });

            // сотрудники группы по клику
            $$("listGroup").attachEvent("onSelectChange", function () {
                getGroupEmployees();
            });

            // Редактирование группы по doubleClick
            $$("listGroup").attachEvent("onItemDblClick", function () {
                editGroupForm();
            });

            // Редактирование сотрудника по doubleClick
            $$("listEmployees").attachEvent("onItemDblClick", function () {
                editEmployeeForm();
            });

            // Загрузка фотографии
            // В employeesForm.js

            // Поиск сотрудников
            $$("search").attachEvent("onTimedKeyPress", function () {
                let value = this.getValue().toLowerCase();

                $$("listEmployees").filter(function (obj) {
                    //return obj.value.toLowerCase().indexOf(value)==0; Начинается с букв
                    return obj.lastName.toLowerCase().indexOf(value) != -1 || obj.firstName.toLowerCase().indexOf(value) != -1 || obj.patronymic.toLowerCase().indexOf(value) != -1 || obj.position.toLowerCase().indexOf(value) != -1; // Имеются буквы
                })
            });

            /////////////////////////////////////////// Drag and drop /////////////////////////////////////////////////

            $$("groupsTable").attachEvent("onBeforeDrop", function(context, ev){
                // Если запись перетаскивается из всех сотрудников в таблицу группы
                if (context.from != context.to) {
                    // Если сотрудник уже в группе
                    if ($$('groupsTable').exists(context.source)) {
                        webix.message({type: "error", text: "Сотрудник уже в группе"});
                    } else {
                        // берем id группы и id сотрудника
                        let item = $$('listEmployees').getItem(context.source);
                        let group = $$('listGroup').getSelectedItem();
                        // создаем массив для отправки
                        let employee = {};
                        employee.id = item.id;
                        employee.group = group.id;
                        // делаем запрос на обновление группы у сотрудника
                        EmployeeModel.updateGroup(employee).then(function (result) {
                            // получаем сотрудника обратно
                            EmployeeModel.get(result[0].id).then(function (result) {
                                $$('groupsTable').add(result[0]);
                            });
                        });
                        // оповещаем о действии
                        webix.message({type: "success", text: item.lastName + " " + item.firstName + " назначен(а) в группу <i>'" + group.name +"'</i>"});
                    }
                }
                return false;
            });

            let basket = $$("basket").getNode();

            function handler() {
                // получаем контекст взятия элемента
                let dnd = webix.DragControl.getContext();
                // определяем откуда пришел дроп
                switch (dnd.from.name) {
                    case 'list':
                        deleteEmployee(dnd.start);
                        break;
                    case 'datatable':
                        deleteFromGroup(dnd.start);
                        break;
                }
            }

            webix.attachEvent("onDragMode",function(signal){
                // событие при сбросе элемента над областью корзины
                basket.addEventListener('mouseup', handler);
                // показать/скрыть корзину
                switch (signal) {
                    case 'start':
                        $$('basket').show();
                        break;
                    case 'stop':
                        $$('basket').hide();
                        break;
                }
            });
        });
    }
</script>
</body>
</html>