<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - employees</title>
    <link rel="icon" href="/public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="/public/MaterialDesign/css/materialdesignicons.css" type="text/css"
          charset="utf-8">
    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script type="module">

    ///////////////////////////////////////////////// Импорт //////////////////////////////////////////////////////

    import {f} from "/public/js/functions.js";                                  // файл с функциями

    import {toolbar} from "/public/js/toolbar.js";						        // шапка
    import {sidebar} from "/public/js/sidebar.js";						        // боковая панель

    import {groups} from "/public/js/group/groups.js";				            // островок Группы
    import {groupTable} from "/public/js/group/groupTable.js";		            // островок сотрудники Группы
    import {employees} from "/public/js/employee/employees.js";			        // островок Сотрудники

    import {groupWindow} from "/public/js/group/groupWindow.js";		        // окно группы
    webix.ui(groupWindow);

    import {employeeWindow} from "/public/js/employee/employeeWindow.js";	    // окно сотрудника
    webix.ui(employeeWindow);

    import {editPopup} from "/public/js/editPopup.js";	                        // попап списка [редактировать / удалить]
    webix.ui(editPopup);

    import {sortPopup} from "/public/js/sortPopup.js";					        // попап сортировки [по порядку / по имени / по дате]
    webix.ui(sortPopup);

    import {userPopup} from "/public/js/userPopup.js";                          // попап пользователя в шапке
    webix.ui(userPopup);

    import {themePopup} from "/public/js/themePopup.js";                        // попап темы в шапке
    webix.ui(themePopup);

    import {uploadApi} from "/public/js/uploadApi.js";                          // загрузка фото
    webix.ui(uploadApi);

    import {basket} from "/public/js/basket.js";                                // корзина для DnD

    webix.i18n.setLocale('ru-RU');                                              // локализация

    ///////////////////////////////////////////////// Отрисовка ////////////////////////////////////////////////////

    window.onload = function () {
        webix.ready(function () {

            if (!webix.env.touch && webix.env.scrollSize)
                webix.CustomScroll.init();

            // Разметка
            webix.ui({
                rows: [
                    toolbar,
                    {
                        cols: [
                            sidebar,
                            {
                                type: "space",
                                cols: [
                                    {
                                        gravity: 0.3,
                                        type: "wide",
                                        rows: [
                                            groups
                                        ]
                                    },
                                    {
                                        type: "wide",
                                        cols: [
                                            {
                                                type: 'clean',
                                                rows: [
                                                    groupTable,
                                                    basket
                                                ]},
                                            employees
                                        ]
                                    },
                                ]
                            }
                        ]
                    }
                ]
            });

            f.getUserInfo();

            // Получаем все группы
            f.getAllGroups();

            // Получаем всех сотрудников
            f.getAllEmployees();

            // подсветка текущей вкладки
            $$("sidebar").select("employees", true);

            // скрываем корзину
            $$('basket').hide();

            //////////////////////////////////////////// Обработчики ///////////////////////////////////////////////

            // Действия после загрузки групп
            $$('listGroup').attachEvent("onAfterLoad", function(){
                // селектим первую группу
                this.select(this.getFirstId());
                // получаем сотрудников выбранной группы
                f.getGroupEmployees();
            });

            // Переход по вкладкам
            $$("sidebar").attachEvent("onItemClick", function (id) {
                location.href = id;
            });

            //*********************************************** Header ************************************************//

            // Открыть/закрыть sidebar
            $$("toggleIcon").attachEvent("onItemClick", function () {
                $$("sidebar").toggle()
            });

            // Показать попап пользователя
            let userPop = document.getElementById("userPop");
            userPop.onclick = function () {
                if ($$("user_Popup").isVisible()) {
                    $$("user_Popup").hide()
                }
                else $$("user_Popup").show(this, { pos: "bottom"});
            };

            // Кнопка попапа пользователя
            $$("userMenu").attachEvent("onItemClick", function (id) {
                switch (id) {
                    case 'profile':
                        f.editEmployeeForm();
                        break;
                    case 'logout':
                        f.logout();
                        break;
                }
            });

            // Показать попап темы
            $$('themeBtn').attachEvent("onItemClick", function (id, e) {
                if ($$("theme_Popup").isVisible()) {
                    $$("theme_Popup").hide()
                }
                else $$("theme_Popup").show({y:46, pos: "right"});
            });

            //*********************************************** Группы ************************************************//

            // Добавить группу
            $$("addGroupBtn").attachEvent("onItemClick", function () {
                f.addGroupForm();
            });

            // Показать попап группы
            $$("listGroup").on_click.listIcon = function (node) {
                $$("edit_Popup").show(node);
            };

            // Действия попапа группы
            $$("editPopup_List").attachEvent("onItemClick", function (id) {
                let value = this.getItem(id).value;
                switch (value) {
                    case "edit":
                        f.editGroupForm();
                        break;
                    case "delete":
                        f.delGroup();
                        break;
                }
            });

            // Действия попапа сортировки
            $$("sortPopup_List").attachEvent("onSelectChange", function () {
                let value = this.getSelectedItem().value;
                f.sortGroup(value);
            });

            // Окно заполнения группы
            $$("dltGroupFormBtn").attachEvent("onItemClick", function () {      // кнопка удалить
                f.delGroup();
                $$('groups_Form').clearValidation();
            });
            $$("saveGroupFormBtn").attachEvent("onItemClick", function () {     // кнопка сохранить
                f.updateGroup()
            });
            $$("createGroupFormBtn").attachEvent("onItemClick", function () {   // кнопка создать
                f.createGroup();
            });
            $$("closeGroupFormBtn").attachEvent("onItemClick", function () {    // кнопка закрыть
                $$('groups_window').hide();
                $$('groups_Form').clearValidation();
            });

            // сотрудники группы по клику
            $$("listGroup").attachEvent("onSelectChange", function () {
                f.getGroupEmployees();
            });

            // Редактирование группы по doubleClick
            $$("listGroup").attachEvent("onItemDblClick", function () {
                f.editGroupForm();
            });

            //********************************************* Сотрудники **********************************************//

            // Добавить сотрудника
            $$("addEmployeeBtn").attachEvent("onItemClick", function () {
                f.addEmployeeForm();
            });

            // Открыть поиск сотрудников
            $$("openSearchBtn").attachEvent("onItemClick", function () {
                $$("search").show();
                $$("closeSearchBtn").show();
                $$("openSearchBtn").hide();
            });

            // Закрыть поиск сотрудников
            $$("closeSearchBtn").attachEvent("onItemClick", function () {
                $$("search").hide();
                $$("search").setValue("");
                $$("listEmployees").filter(function (obj) {
                    return obj;
                });
                $$("openSearchBtn").show();
                $$("closeSearchBtn").hide();

            });

            // Окно заполнения сотрудника
            $$("dltEmployeeFormBtn").attachEvent("onItemClick", function () {       // кнопка удалить
                // Берем id сотрудника
                let item = $$("employees_Form").getValues();
                f.deleteEmployee(item.id);
            });
            $$("saveEmployeeFormBtn").attachEvent("onItemClick", function () {      // кнопка сохранить
                f.updateEmployee();
            });
            $$("createEmployeeFormBtn").attachEvent("onItemClick", function () {    // кнопка создать
                f.createEmployee();
            });
            $$("closeEmployeeFormBtn").attachEvent("onItemClick", function () {     // кнопка закрыть
                $$('employees_window').hide();
            });

            // Редактирование сотрудника по doubleClick
            $$("listEmployees").attachEvent("onItemDblClick", function () {
                let id = $$("listEmployees").getSelectedId();
                f.editEmployeeForm(id);
            });
            $$("groupsTable").attachEvent("onItemDblClick", function () {
                let id = $$("groupsTable").getSelectedId();
                f.editEmployeeForm(id);
            });

            // Загрузка фотографии
            // В employeesForm.js

            // Поиск сотрудников
            $$("search").attachEvent("onTimedKeyPress", function () {
                let value = this.getValue().toLowerCase();

                $$("listEmployees").filter(function (obj) {
                    //return obj.value.toLowerCase().indexOf(value)==0; Начинается с букв
                    return obj.lastName.toLowerCase().indexOf(value) !== -1 || obj.firstName.toLowerCase().indexOf(value) !== -1 || obj.patronymic.toLowerCase().indexOf(value) !== -1 || obj.position.toLowerCase().indexOf(value) !== -1; // Имеются буквы
                })
            });

            //********************************************* Drag & Drop **********************************************//

            $$("groupsTable").attachEvent("onBeforeDrop", function(context, ev){
                // Если запись перетаскивается из всех сотрудников в таблицу группы
                if (context.from !== context.to) {
                    f.addEmployeeInGroup();
                }
                return false;
            });

            // получаем node корзины
            let basket_id = $$("basket").getNode();

            webix.attachEvent("onDragMode",function(signal){
                // событие при сбросе элемента над областью корзины
                basket_id.addEventListener('mouseup', handler);
                // показать/скрыть корзину
                switch (signal) {
                    case 'start':
                        $$('basket').show();
                        break;
                    case 'stop':
                        $$('basket').hide();
                        break;
                }
            });

            function handler() {
                // получаем контекст взятия элемента
                let dnd = webix.DragControl.getContext();
                // определяем откуда пришел дроп
                switch (dnd.from.name) {
                    case 'list':
                        f.deleteEmployee(dnd.start);
                        break;
                    case 'datatable':
                        f.deleteFromGroup(dnd.start);
                        break;
                }
            }
        });
    }
</script>
</body>
</html>