<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - tasks</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="/public/MaterialDesign/css/materialdesignicons.css" type="text/css"
          charset="utf-8">
    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script type="module">

    import {locale} from '/public/js/locale.js';						// локализация канбана
    import {projects_data} from '/public/js/data.js';					// массивы

    webix.i18n.locales["ru-RU"].kanban = locale;
    webix.i18n.setLocale('ru-RU');

    import {ProjectModel} from "/public/js/project/model/ProjectModel.js"; // get post update delete

    ///////////////////////////////////////////////// Виджеты //////////////////////////////////////////////////////

    import {toolbar} from "/public/js/toolbar.js";							// шапка
    import {sidebar} from "/public/js/sidebar.js";							// боковая панель

    import {projects} from "/public/js/project/projects.js";				// островок Проекты
    import {kanban} from "/public/js/task/kanban.js";						// островок Задачи

    import {projectWindow} from "/public/js/project/projectWindow.js";		// окно проекта
    webix.ui(projectWindow);

    import {projectPopup} from "/public/js/project/projectPopup.js";		// попап списка [редактировать / удалить]
    webix.ui(projectPopup);

    import {sortPopup} from "/public/js/sortPopup.js";						// попап сортировки [по порядку / по имени / по дате]
    webix.ui(sortPopup);

    import {projects_originalValues} from "/public/js/origValuesForm.js";	// оригинальные значения формы проекта

    ////////////////////////////////////////////////// Функции /////////////////////////////////////////////////////

    function sortProject(value) {
        $$("listProject").sort("#" + value + "#");
    };

    function addProjectForm() {
        // Изменяем форму
        $$("titleP").setValue("Добавить проект");
        $$("dltProjectFormBtn").disable();
        $$("saveProjectFormBtn").hide();
        $$("createProjectFormBtn").show();
        // заносим стандартные значения в форму
        $$("project_Form").setValues(projects_originalValues);
        $$("project_window").show();
    }

    function editProjectForm() {
        // Изменяем форму
        $$("titleP").setValue("Изменить проект");
        $$("createProjectFormBtn").hide();
        $$("dltProjectFormBtn").enable();
        $$("saveProjectFormBtn").show();
        $$("project_Popup").hide();
        // заносим данные проекта в форму
        let projectValues = $$("listProject").getSelectedItem();
        $$("project_Form").setValues(projectValues);
        $$("project_window").show();
    }

    function getAllProjects() {
        ProjectModel.getAll().then(function (result) {
            $$("listProject").parse(result, 'json');
        });
    }

    function createProject() {
        // Валидация заполнения
        if ($$("project_Form").validate()) {
            // берем значения формы
            let project_form = $$("project_Form").getValues();
            let project = {
                Name: project_form.name,
                Group: project_form.group
            };
            // делаем запрос
            ProjectModel.create(project).then(function (result) {
                $$("listProject").add({
                    id: result[0]['id'],
                    name: result[0]['name'],
                    date: new Date(result[0]['date']),
                    group: result[0]['group']
                });
            });
            // закрываем окно
            $$("project_window").hide();
        }
        else
            webix.message({type: "error", text: "Дайте название проекту"});
    }

    function delProject() {
        // закрываем окна
        $$("project_Popup").hide();
        $$("project_window").hide();
        // подтверждение удаления
        webix.confirm({
            ok: "ОК", cancel: "Отмена",
            text: "Вы собираетесь удалить проект, вы уверены?"
        })
            .then(function () {
                // Берем id проекта
                let id = $$("listProject").getSelectedId();
                // делаем запрос
                ProjectModel.delete(id).then(function(result) {
                    $$("listProject").remove(result);
                });
            })
    }

    function updateProject() {
        // Валидация заполнения
        if ($$("project_Form").validate()) {
            // берем значения формы
            let id = $$("listProject").getSelectedId();
            let project_form = $$("project_Form").getValues();
            let project = {
                Id: id,
                Name: project_form.name,
                Group: project_form.group
            };
            // делаем запрос
            ProjectModel.update(project).then(function(result) {
                let item = $$("listProject").getItem(result[0]['id']);
                item.name = result[0]['name'];
                item.group = result[0]['group'];
                $$("listProject").refresh();
            });
            // закрываем окно
            $$("project_window").hide();
        }
        else
            webix.message({type: "error", text: "Дайте название проекту"});
    }

    ///////////////////////////////////////////////// Отрисовка ////////////////////////////////////////////////////

    window.onload = function () {
        webix.ready(function () {

            // Скролл
            if (!webix.env.touch && webix.env.scrollSize)
                webix.CustomScroll.init();

            // Разметка
            webix.ui({
                rows: [
                    toolbar,
                    {
                        cols: [
                            sidebar,
                            {
                                type: "space",
                                cols: [
                                    {
                                        gravity: 0.3,
                                        type: "wide",
                                        rows: [
                                            projects
                                        ]
                                    },
                                    kanban
                                ]
                            }
                        ]
                    }
                ]
            });

            getAllProjects();    // Получаем все проекты из бд

            // Подсветка текущей вкладки
            $$("sidebar").select("tasks", true);

            //////////////////////////////////////////// Обработчики ///////////////////////////////////////////////

            // Переход по вкладкам
            $$("sidebar").attachEvent("onItemClick", function (id) {
                location.href = id;
            });

            // Открыть/закрыть sidebar
            $$("toggleIcon").attachEvent("onItemClick", function () {
                $$("sidebar").toggle()
            });

            // Добавить проект
            $$("addProjectBtn").attachEvent("onItemClick", function () {
                addProjectForm()
            });

            // Добавить задачу
            $$("addTaskBtn").attachEvent("onItemClick", function () {
                $$("kanban").showEditor();
            });

            // Окно заполнения проекта
            $$("dltProjectFormBtn").attachEvent("onItemClick", function () {
                delProject();
                $$('project_Form').clearValidation();
            });
            $$("createProjectFormBtn").attachEvent("onItemClick", function () {
                createProject();
            });
            $$("saveProjectFormBtn").attachEvent("onItemClick", function () {
                updateProject();
            });
            $$("closeProjectFormBtn").attachEvent("onItemClick", function () {
                $$('project_window').hide();
                $$('project_Form').clearValidation();
            });

            // Показать попап проекта
            $$("listProject").on_click.listIcon = function (node) {
                $$("project_Popup").show(node);
            };

            // Действия попапа проекта
            $$("projectPopup_List").attachEvent("onItemClick", function (id) {
                let value = this.getItem(id).value;
                switch (value) {
                    case "edit":
                        editProjectForm();
                        break;
                    case "delete":
                        delProject();
                        break;
                }
            });

            // Действия попапа сортировки
            $$("sortPopup_List").attachEvent("onSelectChange", function () {
                let value = this.getSelectedItem().value;
                sortProject(value);
            });

            // Click по проекту (Сделать смену задач)
            $$("listProject").attachEvent("onItemClick", function () {

            });

            // Редактирование проекта по doubleClick
            $$("listProject").attachEvent("onItemDblClick", function () {
                editProjectForm();
            });

            // Валидация заполнения задачи
            $$("kanban").attachEvent("onBeforeEditorAction", function (action, editor, obj) {
                if (action === "save" && !editor.getForm().validate())
                    return false;
            });
            $$("kanban").getEditor().attachEvent("onHide", function () {
                this.getForm().clearValidation();
            });
        });
    }
</script>
</body>
</html>