<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pm - tasks</title>
    <!-- Иконка -->
    <link rel="icon" href="/public/img/favicon.png" type="image/x-icon">
    <!-- Стили -->
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="/public/kanban/codebase/kanban.css" type="text/css">
    <link rel="stylesheet" href="/public/css/MaterialDesign/css/materialdesignicons.css" type="text/css">
    <!-- Скрипты -->
    <script src="/public/codebase/webix.js" type="text/javascript"></script>
    <script src="/public/kanban/codebase/kanban.js" type="text/javascript"></script>
    <script src="/public/codebase/i18n/ru.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script type="module">

    ///////////////////////////////////////////////// Импорт //////////////////////////////////////////////////////

    import {f} from "/public/js/functions.js";                              // файл с функциями

    import {toolbar} from "/public/js/toolbar.js";							// шапка
    import {sidebar} from "/public/js/sidebar.js";							// боковая панель

    import {projects} from "/public/js/project/projects.js";				// островок Проекты
    import {kanban} from "/public/js/task/kanban.js";						// островок Задачи

    import {projectWindow} from "/public/js/project/projectWindow.js";		// окно проекта
    webix.ui(projectWindow);

    import {employeeWindow} from "/public/js/employee/employeeWindow.js";	// окно сотрудника
    webix.ui(employeeWindow);

    import {editPopup} from "/public/js/Popup/editPopup.js";		        // попап списка [редактировать / удалить]
    webix.ui(editPopup);

    import {sortPopup} from "/public/js/Popup/sortPopup.js";				// попап сортировки [по порядку / по имени / по дате]
    webix.ui(sortPopup);

    import {userPopup} from "/public/js/Popup/userPopup.js";                // попап пользователя в шапке
    webix.ui(userPopup);

    import {themePopup} from "/public/js/Popup/themePopup.js";              // попап темы в шапке
    webix.ui(themePopup);

    import {basket} from "/public/js/basket.js";                            // корзина для DnD

    import {tasks_originalValues} from "/public/js/origValuesForm.js";      // оригинальные значения формы задачи

    import {locale} from '/public/js/locale.js';						    // Локализация
    webix.i18n.locales["ru-RU"].kanban = locale;
    webix.i18n.setLocale('ru-RU');

    ///////////////////////////////////////////////// Отрисовка ////////////////////////////////////////////////////

    window.onload = function () {
        webix.ready(function () {

            // Скролл
            if (!webix.env.touch && webix.env.scrollSize)
                webix.CustomScroll.init();

            // Разметка
            webix.ui({
                rows: [
                    toolbar,
                    {
                        cols: [
                            sidebar,
                            {
                                type: "space",
                                cols: [
                                    {
                                        gravity: 0.3,
                                        type: "wide",
                                        rows: [
                                            projects
                                        ]
                                    },
                                    {
                                        rows: [
                                            kanban,
                                            basket
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            });

            f.getUserInfo();

            // Получаем все проекты
            f.getAllProjects();

            // Заполняем селекты
            f.getGroupSelect();
            f.getTagsSelect();
            f.getPrioritySelect();
            f.getStatusSelect();

            // Подсветка текущей вкладки
            $$("sidebar").select("tasks", true);

            // Скрываем корзину
            $$('basket').hide();

            //////////////////////////////////////////// Обработчики ///////////////////////////////////////////////

            // Действия после загрузки проектов
            $$('listProject').attachEvent("onAfterLoad", function(){
                // селектим первый проект
                this.select(this.getFirstId());
            });

            // Переход по вкладкам
            $$("sidebar").attachEvent("onItemClick", function (id) {
                location.href = id;
            });

            //*********************************************** Header ************************************************//

            // Открыть/закрыть sidebar
            $$("toggleIcon").attachEvent("onItemClick", function () {
                $$("sidebar").toggle()
            });

            // Показать попап пользователя (после рендера с данными)
            $$("userBtn").attachEvent("onAfterRender", function () {
                let userPop = document.getElementById("userPop");
                userPop.onclick = function () {
                    if ($$("user_Popup").isVisible()) {
                        $$("user_Popup").hide()
                    }
                    else $$("user_Popup").show(this, { pos: "bottom"});
                };
            });

            // Кнопки попапа пользователя
            $$("userMenu").attachEvent("onItemClick", function (id) {
                switch (id) {
                    case 'profile':
                        let item = $$('userBtn').getValues();   // берем данные сотрудника
                        f.editEmployeeForm(item.user);          // выводим их на экран
                        $$("user_Popup").hide();                // закрываем попап
                        break;
                    case 'logout':
                        f.logout();
                        break;
                }
            });

            // Показать попап темы
            $$('themeBtn').attachEvent("onItemClick", function (id, e) {
                if ($$("theme_Popup").isVisible()) {
                    $$("theme_Popup").hide()
                }
                else $$("theme_Popup").show({y:46, pos: "right"});
            });

            // Смена темы
            $$("theme").attachEvent("onChange", function(newv, oldv){
                if (newv === 1) {
                    $$('toolbar').define("css", "webix_dark");
                    $$('sidebar').define("css", "webix_dark");
                }
                else {
                    webix.html.removeCss( $$("toolbar").getNode(), "webix_dark");
                    webix.html.removeCss( $$("sidebar").getNode(), "webix_dark");
                }
            });

            // Смена Тени
            $$("shadow").attachEvent("onChange", function(newv, oldv){
                if (newv === 1) {
                    $$('toolbar').define("css", "webix_shadow_medium");
                    $$('sidebar').define("css", "webix_shadow_medium");
                }
                else {
                    webix.html.removeCss( $$("toolbar").getNode(), "webix_shadow_medium");
                    webix.html.removeCss( $$("sidebar").getNode(), "webix_shadow_medium");
                }
            });

            //********************************************** Проекты ***********************************************//

            // Добавить проект
            $$("addProjectBtn").attachEvent("onItemClick", function () {
                f.addProjectForm()
            });

            // Окно заполнения проекта
            $$("dltProjectFormBtn").attachEvent("onItemClick", function () {    // кнопка удалить
                f.delProject();
                $$('project_Form').clearValidation();
            });
            $$("createProjectFormBtn").attachEvent("onItemClick", function () { // кнопка создать
                f.createProject();
            });
            $$("saveProjectFormBtn").attachEvent("onItemClick", function () {   // кнопка сохранить
                f.updateProject();
            });
            $$("closeProjectFormBtn").attachEvent("onItemClick", function () {  // кнопка закрыть
                $$('project_window').hide();
                $$('project_Form').clearValidation();
            });

            // Показать попап проекта
            $$("listProject").on_click.listIcon = function (node) {
                $$("edit_Popup").show(node);
            };

            // Действия попапа проекта
            $$("editPopup_List").attachEvent("onItemClick", function (id) {
                let value = this.getItem(id).value;
                switch (value) {
                    case "edit":
                        f.editProjectForm();
                        break;
                    case "delete":
                        f.delProject();
                        break;
                }
            });

            // Действия попапа сортировки
            $$("sortPopup_List").attachEvent("onSelectChange", function () {
                let value = this.getSelectedItem().value;
                f.sortProject(value);
            });

            // Click по проекту (Сделать смену задач)
            $$("listProject").attachEvent("onSelectChange", function () {
                f.getAllTasks();
                f.getAssignSelect();
            });

            // Редактирование проекта по doubleClick
            $$("listProject").attachEvent("onItemDblClick", function () {
                f.editProjectForm();
            });

            //********************************************** Задачи ***********************************************//

            // Добавить задачу
            $$("addTaskBtn").attachEvent("onItemClick", function () {
                $$("kanban").showEditor();
                $$('subTasksTable').clearAll(); // очищаем таблицу подзадач
                $$('enterSubTask').hide();      // скрываем ввод подзадачи
                $$('kanban_form').setValues(tasks_originalValues);
            });

            // Создание задачи
            $$('kanban').data.attachEvent("onBeforeAdd", function (id, item) {
                // игнорируем создание задачи канбаном
                if (Number.isInteger(item.id)) {
                    f.createTask();
                    return false;
                }
                // разрешаем создание из своей функции
                else return true;
            });

            // Изменение задачи
            $$('kanban').data.attachEvent("onDataUpdate", function(id, index){
                let task = $$('kanban').getItem(id);
                f.updateTask(task);
            });

            // Удаление задачи
            $$('kanban').data.attachEvent("onAfterDelete", function(id){
                f.delTask(id);
                return true;
            });

            // Валидация заполнения задачи
            $$("kanban").attachEvent("onBeforeEditorAction", function (action, editor, obj) {
                if (action === "save" && !editor.getForm().validate())
                    return false;
                // Перемещение DnD
                else if (action === "save") {
                    obj.$list = parseInt(obj.status);
                }
                // Удаление задачи
                else if (action === "delete") {
                    let id = $$('kanban').getSelectedId();
                    f.delTask(id);
                }
            });

            // Очищение валидации при закрытии окна
            $$("kanban").getEditor().attachEvent("onHide", function () {
                this.getForm().clearValidation();
            });

            //********************************************** Подзадачи ***********************************************//

            // Заполнение подзадач перед открытием
            $$("kanban").attachEvent("onBeforeEditorShow", function (editor, obj) {
                $$('subTasksTable').clearAll(); // очищаем таблицу подзадач
                $$('enterSubTask').hide();      // скрываем ввод подзадачи
                // если задача создана
                if (obj) {
                    // заполняем подзадачи
                    f.fillSubTasksForm(obj.id)
                }
            });

            // Показать поле ввода подзадачи
            $$("subTasksTable").on_click.addSubtaskBtn = function (node) {
                $$('enterSubTask').show();
            };

            // Скрыть поле ввода подзадачи
            $$("closeEnterSubTaskBtn").attachEvent("onItemClick", function () {
                $$('enterSubTask').hide();
                $$('textSubTask').setValue("");
            });

            // Добавить подзадачу
            $$("saveSubTaskBtn").attachEvent("onItemClick", function () {
                f.createSubTask();
            });
            // press Enter для добавления
            $$("textSubTask").attachEvent("onEnter",function(ev){
                f.createSubTask();
            });

            // Удалить подзадачу
            $$("subTasksTable").on_click.delSubtaskBtn = function (node) {
                let sub = $$('subTasksTable').getSelectedItem();
                f.deleteSubTask(sub);
            };

            // Изменение подзадачи
            $$('subTasksTable').attachEvent("onAfterEditStop", function(state, editor, ignoreUpdate){
                if(state.value !== state.old){
                    let sub = $$('subTasksTable').getSelectedItem();
                    f.updateSubTask(sub);
                }
            });

            // Изменение check подзадач
            $$('subTasksTable').attachEvent("onCheck", function(row, column, state){
                $$('subTasksTable').select(row);
                let sub = $$('subTasksTable').getSelectedItem();
                f.updateSubTask(sub);
            });

            //********************************************* Профиль **********************************************//

            // Окно заполнения сотрудника
            $$("dltEmployeeFormBtn").attachEvent("onItemClick", function () {       // кнопка удалить
                // Берем id сотрудника
                let item = $$("employees_Form").getValues();
                f.deleteEmployee(item.id);
            });
            $$("saveEmployeeFormBtn").attachEvent("onItemClick", function () {      // кнопка сохранить
                f.updateEmployee();
            });
            $$("createEmployeeFormBtn").attachEvent("onItemClick", function () {    // кнопка создать
                f.createEmployee();
            });
            $$("closeEmployeeFormBtn").attachEvent("onItemClick", function () {     // кнопка закрыть
                $$('employees_window').hide();
            });

            //********************************************* Drag & Drop **********************************************//

            // получаем node корзины
            let basket_id = $$("basket").getNode();

            // действия при взятии элемента
            webix.attachEvent("onDragMode",function(signal){
                // событие при сбросе элемента над областью корзины
                basket_id.addEventListener('mouseup', reset);
                // показать/скрыть корзину
                switch (signal) {
                    case 'start':
                        $$('basket').show();
                        break;
                    case 'stop':
                        $$('basket').hide();
                        break;
                }
            });

            // Сброс над корзиной
            function reset() {
                // получаем контекст взятия элемента
                let dnd = webix.DragControl.getContext();
                // определяем откуда пришел дроп
                if (dnd.from.name === 'kanbanlist') {
                    // удаляем задачу
                    f.delTask(dnd.start);
                }
            }
        });
    }
</script>
</body>
</html>